@model HospitalMVC.Models.RegisterViewModel
@{
    ViewData["Title"] = "Registiration";
}
<form action="Register" method="post">
    <div style="height: 20%;"></div>
    <div style=" display:grid; place-items: center; background-color: lightgray; box-shadow:0 4px 8px rgba(0,0,0,0.3);">
        <div style="height:250px; width:250px; background-color:steelblue; display:flex; flex-direction: column; border-radius: 15px; box-shadow:0 4px 8px rgba(0,0,0,0.2);">
            <input type="text" asp-for="Name" placeholder="yourname"
                   style="margin-bottom: 10px; margin-top: 10px; width:200px; height: 25px; margin-left: 5px;" />
            <input type="text" asp-for="Role" placeholder="Doctor/Patient"
                   style="margin-bottom: 10px; width:200px; height: 25px; margin-left: 5px;" />
            <input type="email" asp-for="Email" placeholder="test@example.com"
                   style="margin-bottom: 10px; width:200px; height: 25px; margin-left: 5px;" />
            <input type="password" asp-for="Password" placeholder="12345!"
                   style="width:200px; height:25px; margin-left: 5px;" />
            <div style="margin-left: 5px; margin-top: 10px;"> <button>Register</button> </div>
        </div>
    </div>

    @if (ViewBag.Error != null)
    {
        <p style="color:red; margin-left:5px;">@ViewBag.Error</p>
    }
</form>
    
